-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.crew_confirm.crew_confirm_update
  .cc_title
    Confirmation required
  .cc_frame
    - unless @added.nil?
      .cc_text
        = "If you update the group #{@name}, the following list of members" +    |
        " will be invited on the complete list of following shared directories:" |
      .cc_table.cc_table_added
        %div
          %div Members
          %div Directories
        %div
          %div
            - @added['members'].each do |m|
              %div&= m['name']
          %div
            - @added['directories'].each do |d|
              %div&= d['name']
    - unless @removed.nil?
      .cc_text
        - if @added.nil?
          = "If you update the group #{@name},"
        - else
          On the other hand,
        = " the following list of members will lose access to the corresponding" + |
        " list of shared directories displayed next to them:"                      |
      .cc_table.cc_table_removed
        %div
          %div Members
          %div Directories
        - @removed.each do |r|
          %div
            %div&= r['member']['name']
            %div
              - r['directories'].each do |d|
                %div&= d['name']
      .cc_text
        Do you want to provide to these members a copy of the latest version of this shared directory? |
        You will need to check the box below.                                                          |
      .cc_text
        %input.give_copy{ :type => 'checkbox' }
        = "Yes, provide them with a copy of the shared directory."
    .cc_buttons
      %button.ok.generic_button_green Ok
      %button.cancel.generic_button_green Cancel
