-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.esd_confirm_remove.esd_confirm_remove_member
  .esd_title
    Confirmation required
  .esdc_frame
    - if @crews.empty?
      .esd_text
        = "If you remove #{@name} from the list of people with whom who share this directory," +      |
        " he/she won't be able to access the files any more, including the ones uploaded by him/her." |
      .esd_text
        Do you want to provide to this member a copy of the latest version of this shared directory? |
        You will need to check the box below.                                                        |
      .esd_text
        %input.give_copy{ :type => 'checkbox' }
        = "Yes, provide #{@name} with a copy of the shared directory."
    - else
      .esd_text
        = "If you remove #{@name} from the list of people with whom who share this directory," + |
        " he/she will still have access to the files through the following groups:"              |
      - @crews.each do |c|
        .esd_confirm_item&= c['name']
      .esd_text
        = "You will need to edit the groups and/or the shared directory afterwards if you want" + |
        " to ensure that #{@name} cannot access it anymore."                                      |
  .esdc_buttons
    %button.ok.generic_button_green Ok
    %button.cancel.generic_button_green Cancel
