-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.explorer_share_dialog{ :'data-directory-id' => params[:directory_id] }
  .esd_title
    %span Share directory
    %span.esd_dir_name<= esc_html(@dir_name)
    %span with…
  .esd_frame
    .esd_see_invited
      .esd_header Already invited
      .esd_list_invited
        .esd_list_invited_members
          .esd_list_title Members
          .esd_list_border
            .esd_list
              .esd_table
                = haml :'_explorer_share_item', :locals => { :values => @members.select { |m| m['checked'] }, :item_type => 'member', :item_status => 'invited' }
        .esd_list_invited_crews
          .esd_list_title Groups
          .esd_list_border
            .esd_list
              .esd_table
                = haml :'_explorer_share_item', :locals => { :values => @crews.select { |m| m['checked'] }, :item_type => 'crew', :item_status => 'invited' }
    .esd_add_invites
      .esd_header Available
      .esd_list_available
        .esd_list_available_members
          .esd_list_title Members
          .esd_list_border
            .esd_list
              .esd_table
                = haml :'_explorer_share_item', :locals => { :values => @members.reject { |m| m['checked'] }, :item_type => 'member', :item_status => 'available' }
        .esd_list_available_crews
          .esd_list_title Groups
          .esd_list_border
            .esd_list
              .esd_table
                = haml :'_explorer_share_item', :locals => { :values => @crews.reject { |m| m['checked'] }, :item_type => 'crew', :item_status => 'available' }
      .esd_list_to_add
        %button.esd_add.generic_button_green{ :disabled => true } Add
  .esd_buttons
    %button.esd_close.generic_button_green Close
