-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.esd_confirm_remove.esd_confirm_remove_crew
  .esd_title
    Confirmation required
  .esdc_frame
    - unless @members_kept.empty?
      .esd_text
        = "If you remove #{@name} from the list of groups with which who share this directory, the following" + |
        " members will still have access to the files through an individual invite or another group:"           |
      .esd_list_confirm_item
        - @members_kept.each do |m|
          .esd_confirm_item&= m['name']
    - if @members_lost.empty?
      .esd_text
        = "You will need to edit other settings on the shared directory afterwards" + |
        " if you want to ensure that they cannot access it anymore."                  |
    - unless @members_lost.empty?
      .esd_text
        - if @members_kept.empty?
          = "If you remove #{@name} from the list of groups with which who share this directory"
        - else
          = "On the other hand"
        = ", the following members won't be able to access the files any more, including the ones uploaded by them:"
      .esd_list_confirm_item
        - @members_lost.each do |m|
          .esd_confirm_item&= m['name']
      .esd_text
        Do you want to provide to these members a copy of the latest version of this shared directory? |
        You will need to check the box below.                                                          |
      .esd_text
        %input.give_copy{ :type => 'checkbox' }
        = "Yes, provide them with a copy of the shared directory."
  .esdc_buttons
    %button.ok.generic_button_green Ok
    %button.cancel.generic_button_green Cancel
