-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.explorer_ea_dialog
  .eea_title
    %span External access to
    %span.eea_file_name<= esc_html(@msg[:inode][:name])
  .eea_frame
    .eea_direct_link
      .eea_header Direct link
      %div
        %div
          %span current version:
          %a{ :href => "/direct/#{@msg[:inode][:id]}/#{@msg[:inode][:revision][:revision]}" }
        %div
          %span latest version:
          %a{ :href => "/direct/#{@msg[:inode][:id]}/-1" }
        .notice
          Right-click to interact.
    .eea_obfuscated
      .eea_header Obfuscated links
      .eea_obfuscated_table
        .table.header
          %div
            %div ID (right-click to interact)
            %div Annotation
            %div Delete
        .list_container
          .table.list
            = haml :'_explorer_external_access_rows'
      .eea_obfuscated_buttons
        %button.generate.generic_inline_button_green Generate
    .eea_published
      .eea_header Published link
      .eea_contents
        - if @msg[:username].nil?
          .eea_create_username
            %div.important
              Important
            %div
              Before you can publish a file, you have to create a username.
            .register_line
              Username:
              %input.username{ :type => 'text', :maxlength => 32 }
              %button.create.generic_inline_button_green{ :disabled => true } Create
              %span.icons
                %span.spinner.hidden
                  %svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1.3em" height="1.3em" fill="green")
                    %circle(cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                    %circle(transform="rotate(45 16 16)" cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.125s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                    %circle(transform="rotate(90 16 16)" cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.25s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                    %circle(transform="rotate(135 16 16)" cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.375s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                    %circle(transform="rotate(180 16 16)" cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                    %circle(transform="rotate(225 16 16)" cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.625s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                    %circle(transform="rotate(270 16 16)" cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.75s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                    %circle(transform="rotate(315 16 16)" cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.875s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                    %circle(transform="rotate(180 16 16)" cx="16" cy="3" r="0")
                      %animate(attributeName="r" values="0;3;0;0" dur="1s" repeatCount="indefinite" begin="0.5s" keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" calcMode="spline")
                %span.forbidden.hidden
                  %svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="1.4em" height="1.4em" fill-opacity="0" stroke="#d40000" stroke-width="2.2")
                    %circle(cx="10" cy="10" r="8.5652" d="m 18.5652,10 c 0,4.730429 -3.834771,8.5652 -8.5652,8.5652 -4.7304293,0 -8.5651999,-3.834771 -8.5651999,-8.5652 0,-4.7304293 3.8347706,-8.5651999 8.5651999,-8.5651999 4.730429,0 8.5652,3.8347706 8.5652,8.5651999 z")
                    %path(d="M 3.3505052,15.112268 4.9414954,16.703258 16.757022,4.8877321 15.166031,3.2967418 z" style="fill:#d40000;fill-opacity:1;stroke:none;")
            .notice
              Allowed characters: alphanumericals (case matters),
              %span.ffm .
              (dot),
              %span.ffm -
              (hyphen),
              %span.ffm _
              (underscore).
            .notice You can use up to 32 characters.
            .notice You can change your username later on from the settings page.
        .eea_publish_file{ :class => (@msg[:username].nil?) ? 'hidden' : '' }
          %div
            Your file
            %span.willis= (@msg[:username].nil? || !@msg[:published]) ? 'will be' : 'is'
            available through this URL:
          .publish_line
            %a{ :href => @escaped_url }= @escaped_url
            %button.publish.generic_inline_button_green{ :disabled => @msg[:published] } Publish
            %button.email.generic_inline_button_green{ :disabled => !@msg[:published] } Email
            %button.unpublish.generic_inline_button_green{ :disabled => !@msg[:published] } Unpublish
  .eea_buttons
    %button.eea_close.generic_button_green Close
