-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
- values.each do |m|
  %div.esd_item{ :class => "esd_#{item_status}_#{item_type}" }
    %span.esd_item_name&= m['name']
    %span
      - if item_status == 'invited'
        %button{ :class => "esd_remove_#{item_type}", :'data-id' => m['id'], :title => "Remove" } ×
      - else
        %input.esd_item_checkbox{ :class => "esd_select_#{item_type}", :type => 'checkbox', :'data-id' => m['id'] }
    %span &nbsp;
