-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.fp_frame
  .fp_title
    Select a file
  .fp_main
    .fp_nav(data-starting-dir="#{@root['id']}")
      .fp_roots
        .fp_dir.selected(data-dir-id="#{@root['id']}") home
        = haml :'_file_picker_dirs', :locals => { 'dirs' => @shares }
      .fp_horizontal
      .fp_dirs
        = haml :'_file_picker_dirs', :locals => { 'dirs' => @dirs }
    .fp_files
      = haml :'_file_picker_files', :locals => { 'files' => @files }
    .fp_clear
  - if @save_mode
    .fp_save_mode
      %span< New file:&nbsp;
      %input.fp_new_file_name(type="text" size="40")
  .fp_buttons
    %button.fp_button_ok Ok
    %button.fp_button_cancel Cancel
