-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.hobo_account
  %button.delete_account ×
  .title HOBOlink account
  .info
    .line
      %span Login:
      %input.login(type="text" value="#{h['login']}" autocomplete="off")
    .line
      %span Password:
      %input.password(type="password" autocomplete="off")
    .line
      %span Devices:
      .device_list
        .device_list_container
          - h['devices'].map { |d| d['device_id'] }.sort.each do |d|
            .device
              %span= d
              .delete_device ×
    .line
      .add_device +
      %input(type="text")
  .buttons
    %button.apply(disabled autocomplete="off") Apply
    %button.cancel(disabled autocomplete="off") Cancel
