-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.import_csv
  .file_name<
    %span< File:&nbsp;
    %input.input_text_disabled(data-param-name="name_in" type="text" disabled){ :value => (@data['file']['full_path'] if @data) }
    %input(data-param-name="inode_id_in" type="hidden"){ :value => (@data['file']['inode_id'] if @data) }
    %button.button_import_csv_change Select
  .file_revision
    %span< Revision:&nbsp;
    %input.input_text_disabled(data-param-name="revision_in" type="text" disabled){ :value => (@data['file']['revision'] if @data) }
  .switch
    - @show_extra = @load && !@load['state']['extra_hidden']
    %button.display_extra{ :disabled => @data.nil? }= @show_extra ? '–' : '+'
  .extra{ :class => ('hidden' unless @show_extra) }
    %input.button_import_csv_has_header(data-param-name="has_header" type="checkbox"){ :checked => (@data && @data['has_header']) }<
      &nbsp;First line is a header
    .list_container
      .header.table
        %div
          %div #
          %div Original
          %div Known as
      .scrollarea
        .list.table
          -if @data
            - @values = @data['cols'].map { |c| [ c['orig'], c['user'] ] }
            = haml :'_workflow_import_csv_cols'
      .buttons.table
        %div
          %div
          %div
            %button.button_import_csv_use_original Use original
          %div
            %button.button_import_csv_clear Clear
            %button.auto_fix Autofix
