-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.export_csv
  .file_name<
    %span< File:&nbsp;
    %input.input_text_disabled(data-param-name="name_out" type="text" disabled){ :value => (@load['data']['file']['name'] if @load && @load['data']) }
    %input(data-param-name="directory_id_out" type="hidden"){ :value => (@load['data']['file']['directory_id'] if @load && @load['data']) }
    %button.button_export_csv_change Select
