-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.wf_node(data-node-type=@template data-node-family=@family data-index=@id)
  .hooks
    - @in.times do |i|
      .hook
        %img.hook_top(src="images/wf/hook_top.png" width="24px" height="12px" data-hook-num="#{i}")
  .core
    - title_bar_colour = (@in > 0) ? ((@out > 0) ? 'normal' : 'output' ) : 'input'
    .title_bar(class="title_bar_#{title_bar_colour}")
      %div
        %div.title_bar_icon
          %img(src="images/wf/#{@template}.png" width="16px" height="16px")
        %div &nbsp;
        %div.title_bar_text><= @title
        %div &nbsp;
        %div.title_bar_extra
        %div.title_bar_void &nbsp;
        %div.title_bar_id= " (ID #{@id})"
    .contents
      = haml :"_workflow_#{@template}"
  .wf_output_zone
    .hooks
      - @out.times do |i|
        .hook
          %img.hook_bottom(src="images/wf/hook_bottom.png" width="24px" height="12px" data-hook-num="#{i}")
    .hidden_hook
      .hook
        %img.hook_bottom(src="images/wf/hook_bottom.png" width="24px" height="12px")
