-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.clause
  %select.col_name
    -@cols.each do |col|
      %option(value="#{col['name']}"){ :selected => (@clause && @clause['name'] == col['name']) }&= col['name']
  %select.col_op
    -%w[eq = neq ≠ lt < lteq ≤ gt > gteq ≥].each_slice(2) do |v,t|
      %option(value=v){ :selected => (@clause && @clause['op'] == v) }= t
  %input.col_value(type="text"){ :value => (@clause['value'] if @clause) }
  %button.delete ×
