-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
.operator_smooth
  -@data = (@load && @load['data'] && @load['data'].length > 0) ? @load['data'] : nil
  .latitude
    %span< Latitude:&nbsp;
    %select
      -@data && @data['cols'].each do |c|
        %option{:value => c['name'], :selected => (c['name'] == @data['lat']) }&= c['name']
  .longitude
    %span< Longitude:&nbsp;
    %select
      -@data && @data['cols'].each do |c|
        %option{:value => c['name'], :selected => (c['name'] == @data['lon']) }&= c['name']
  .timestamp
    %span< Timestamp:&nbsp;
    %select
      -@data && @data['cols'].each do |c|
        %option{:value => c['name'], :selected => (c['name'] == @data['ts']) }&= c['name']
  .steps
    %span< Steps:&nbsp;
    %input(type="number" min="1" value="500"){ :value => (@data ? @data['steps'] : '500') }
