-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
- @values.each_with_index do |col, i|
  .col(data-col-index=i)
    %div= i+1
    %div
      %input.orig.input_text_disabled(data-param-name="col#{i}_orig_name" type="text" disabled value="#{col[0]}")
    %div
      %input.user(data-param-name="col#{i}_choice_name" type="text" value="#{col[1]}")
