-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#outer
  .rectangle
    .resp 连城 (lián chéng)  administrators
    .contact
      %div
        %span Thomas Kister:
        :javascript
          print([116,104,111,109,97,115,46,107,105,115,116,101,114,64,110,117,115,46,101,100,117,46,115,103]);
    .contact
      %div
        %span Lei Shi:
        :javascript
          print([115,104,105,108,101,105,64,99,111,109,112,46,110,117,115,46,101,100,117,46,115,103]);
  .rectangle
    .resp Parent project
    %a{ :href => 'http://www.create.edu.sg/about-create/research-centres/e2s2', :target => '_blank' }
      %img{ :src => 'images/E2S2_logo.png' }
