-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#three_col
  #col1
    .desc Your defined groups:
    = haml :'_crews_crews', :locals => { 'crews' => @crews }
  #col2
    .desc Managing
    #controls
      %button#crew_create(autocomplete="off") Create
      %button#crew_edit(disabled autocomplete="off") Edit
      %button#crew_delete(disabled autocomplete="off") Delete
      %br
      %button#crew_save(disabled autocomplete="off") Save
      %button#crew_cancel(disabled autocomplete="off") Cancel
    #crew_details
      %div
        Group name:
        %br
        %input#crew_name(type="text" size="30" autocomplete="off" disabled)
      %div
        Group members:
        .crew_member_list
  #col3
    .desc Members
    .member_list
      = haml :'_crews_members', :locals => { 'members' => @members, 'col3' => true }
