-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#table_jobs
  .header
    .span ID
    .span workflow name (version)
    .span created at
    .span started at
    .span finished at
    .span status
    .span direct link to output
    .span visualise output
  - @jobs.each do |j|
    .row
      .span= j['id']
      .span
        %a.workflow(href="javascript:void(0)"){ 'data' => { 'inode_id' => j['inode_id'], 'revision' => j['revision'] } }>&= j['name']
        = " (#{j['revision']})"
      .span= j['created_at']
      .span= j['started_at']
      .span= j['finished_at']
      .span
        %span.status{ 'class' => j['status'] }= j['status']
      .span
        - unless j['direct'].nil?
          %a.direct(href="#{j['direct']}")= j['direct']
      .span
        - unless j['direct'].nil?
          - o = j['output'][0]
          %button.visu{ :data => { :inode_id => o['inode_id'], :revision => o['revision'] } } ⟹
