-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
!!! 5
%html
  %head
    %title 连城 (lián chéng)
    %link(rel='icon' type='image/png' href='favicon.png?v=2')
    = include_in_header(request.path_info)
  %body
    #frame
      #header
        #header_td
          #header_td_text &nbsp;
          %table#header_left
            %tr
              %td#app_name_td{ :rowspan => 2 }
                #app_name
                  %span#app_name_cn 连城
                  %span#app_name_en (lián chéng)
              %td
                %div &nbsp;
              %td
                %a(href='/') Home
              - if session[:id]
                %td
                  %a(href='/groups') Groups
                %td
                  %a(href='/workflow') Workflow
                %td
                  %a(href='/jobs') Jobs
                - if STREAMS_ENABLED
                  %td
                    %span.layout_menu
                      Streams
                      %div
                        %div
                          %a(href='/streams/accounts') Accounts
                        %div
                          %a(href='/streams/records') Records
                %td
                  %a(href='/visu') Visualisation
              - else
                %td
                  %a(href='/contact') Contact
            %tr
              %td.place_holder{ :colspan => (session[:id] ? 5 : 3) } &nbsp;
          %table#header_right
            %tr
              - if session[:name]
                %td
                  %a(href='/contact') Contact
                %td
                  - @cn = count_notifications() || 0
                  %a#user_notifs{ :href => '/notifications', :class => ('senpai' if @cn != 0) }= "✉ #{@cn}"
                %td
                  %a#user_name(href='/settings')&= session[:name]
                %td
                  %a(href='/logout') Logout
              - else
                %td
                  %span You are logged out
      #contents_tr
        #contents_td
          = yield
      #footer
    #modal_background
