-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#outer
  %form#login_form(action="/login" method="post")
    .form_table
      .form_row
        %div Email:
        %input#username(type="text" name="username" value="#{@reuse && @reuse[2]['username']}")
      .form_row
        %div Password:
        %input#password(type="password")
        %input#hashed_password(type="hidden" name="hashed_password")
    %button.generic_button_green Login
    .smaller
      %span In order to register (sign up), please click
      %span
        %a{ :href => '/register' }<
          here
      %span .
  = show_error_msg()
