-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#outer_list
  #inner_list
    - @shares.each do |s|
      .item.share{ :'data-id' => s['directory_id'] }
        - unless s['read']
          .unread
            %img{ :src => "images/unread.png", :alt => "Unread" }
        .text
          You have been invited by
          %span.member&= s['member_name']
          to access the
          %span.directory&= s['directory_name']
          directory
        .buttons
          %button.generic_button_green{ :title => "Accept the invitation", :'data-action' => 'accept' } Accept
          %button.generic_button_green{ :title => "Decline the invitation", :'data-action' => 'ignore' } Decline
          %button.generic_button_green{ :title => "Block further invitations for that directory", :'data-action' => 'block' } Block
