-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#outer
  .left
    #tos
      %h3.center Terms of Service
      %p This Agreement sets forth the general terms and conditions of your use of the products and services made available by E2S2 SP-2 (“we” “our”) and of the website 137.132.22.192 (collectively, “连城 (lián chéng)” or the “Services”). By using the Services, you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the Services.
      %p.h1 1. Account Eligibility
      %p.h2 A. By registering for or using the Services, you represent and warrant that you are eighteen (18) years of age or older. The Services are intended solely for Users who are eighteen (18) years of age or older. Any registration, use of or access to the Services, by anyone under eighteen (18) is unauthorized and is a violation of this Agreement.
      %p.h2 B. It is your responsibility to provide accurate, current, and complete information on the registration forms, including your full name and a valid email address.  If there is ever an abuse issue or we need to contact you, we will use the primary email address we have on file. It is your responsibility to ensure that the contact information for your account is accurate, correct and complete at all times. We are not responsible for any lapse in the Services, including without limitation, any lapsed service changes due to outdated contact information being associated with your account. If you need to verify or change your contact information, please contact us via email or update your contact information through the system. Providing false contact information of any kind may result in the termination of your account.
      %p.h2 C. You agree to be fully responsible for all use of your account and for any actions that take place through your account. It is your responsibility to maintain the confidentiality of your password and other information related to the security of your account.
      %p.h1 2. User Content
      %p.h2 A. You may be able to upload, store, download, display and share information, text, data, and other content on or through the Services (collectively, “User Content”). User Content includes any content posted by you or by users who shared contents with you through the Services. You retain full ownership to your digital belongings. We don't claim any ownership to any of it. You are solely responsible for any and all User Content and any transactions or other activities conducted on or through the Service. By storing and sharing User Content on or through the Services, you represent and warrant that (i) you have all the necessary rights to store and share such User Content, and (ii) your storage and sharing of such User Content does not infringe or violate the rights of any third party.
      %p.h2 B. We exercise no control over, and accept no responsibility for, User Content or the content of any information passing through our hosting servers. We do not monitor User Content. However, you acknowledge and agree that we may, but is not obligated to, immediately take any corrective action in our sole discretion, including without limitation removal of all or a portion of the User Content, and suspend or terminate any and all Services if you violate the terms of this Agreement. You hereby agree that we shall have no liability due to any corrective action that we may take.
      %p.h2 C. We may need your permission to perform processing with your digital belongings. This includes product features visible to you, for example, data analysis, workflow construction, and visualization with your data. It also includes design choices we make to technically administer our Services, for example, how we redundantly backup data to keep it safe. You give us the permissions we need to do those things solely to provide the Services.
      %p.h1 3. Account Security and 连城 (lián chéng) Systems.
      %p.h2 A. It is your responsibility to ensure that all contents stored under your account are legal and sharing permissions of directories and files are set properly. Users are ultimately responsible for all actions taken under their account. This includes the compromise of credentials such as user name and password. You are required to use a secure password. If a weak password is used, your account may be suspended until you agree to use a more secure password. Audits may be done to prevent weak passwords from being used. If an audit is performed, and your password is found to be weak, we will notify you and allow time for you to change or update your password before suspending your account.
      %p.h2 B. The Services, including all related equipment, networks and network devices are provided only for authorized customer use. We may, but is not obligated to, monitor our systems, including without limitation, to ensure that use is authorized, to facilitate protection against unauthorized access, and to verify security procedures, survivability, and operational security.
      %p.h2 C. Any account that is found to be compromised may be disabled and/or terminated. If you do not clean up your account after being notified by 连城 (lián chéng) of an ongoing issue, we reserve the right to keep your account disabled.
      %p.h2 D. Though we want to provide a great service, there are certain things about the service we can't promise. The services and software are provided "as is" and "as available" and at your own risk. We expressly disclaim any warranties, representations, or conditions of any kind, whether express or implied, including the warranties of merchantability, fitness for a particular purpose, accuracy, security, or non-infringement. We make no warranty that the site or services: (a) will meet your requirements; (b) will be available on an uninterrupted, timely, secure, or error-free basis; or (c) will be accurate, reliable, free of viruses or other harmful code, complete, legal, or safe.
    %div
      .center
        %button#i_agree.generic_button_green I agree
  .right
    %form#form.form_border
      %input#hashed_password(type="hidden" name="password")
      %div
        Name:
        %span
          %input#name(type="text" name="name")
          %span.mandatory *
        .hint
          Your name will be visible to the other users. You can use any valid Unicode character but please remember |
          that not all users can read them, so please also add a romanized version of your name.
      %div
        Email:
        %span
          %input#email(type="text" name="email")
          %span.mandatory *
        .hint
          Your email address is your primary identification mean on the platform. By default it will not be visible |
          to the other users.
      %div
        Password:&nbsp;
        %span.nbsp
          %input#password1(type="password" name="password1")
          %span.mandatory *
      %div
        Password (verify):
        %span.nbsp
          %input#password2(type="password" name="password2" size="25")
          %span.mandatory *
        .hint
          Your password is not stored in the platform, only its hash value is. If you lose it, we'll have to reset |
          it. It must be at least 8 characters long, and can be composed of any valid Unicode character (once again, |
          remember that some non-Latin characters are not available on some operating systems).
      .hint <span class="mandatory">*</span>&nbsp;Mandatory fields.
