-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#user_info.module
  .title
    %span User Information
  .fields
    %form.field.edit_name(data-target="name")
      %span Name:
      %input(type="text" value="#{session[:name]}" data-saved="#{session[:name]}" disabled autocomplete="off")
      %input(type="submit")
      .buttons
        %button.edit ✍ edit
        .ok_cancel.hidden
          %button.ok ✔
          %button.cancel ✘
    %div
      %span Email:
      %span&= @member['email']
    %div
      %span Timezone:
      %span UTC+8
    %form.field.edit_username(data-target="username")
      %span Username:
      %input(type="text" value="#{@member['username']}" data-saved="#{@member['username']}" disabled autocomplete="off")
      %input(type="submit")
      .buttons
        %button.edit ✍ edit
        .ok_cancel.hidden
          %button.ok ✔
          %button.cancel ✘
.module
  %form#form_password
    %input#email(type="text" value="#{@member['email']}")
    .title
      %span Password change
    .fields
      %div
        %span Old password:
        %input#password(type="password")
      %div
        %span New password:
        %input#new_password1(type="password")
      %div
        %span New password (verify):
        %input#new_password2(type="password")
    .submit
      %button.generic_button_green Change password
    %div.hint All fields are mandatory
