-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#add_record
  .ar_field
    %span Account type:&nbsp;
    %select#ar_account_type(autocomplete="off")
      %option(value="none") ---
      %option(value="hobo") HOBOlink
#records{ 'data-streams' => @js_data }
  .record_title HOBOlink records:
  #hobolink_records
    %div
      %div Login
      %div Device ID
      %div File
      %div &nbsp;
    - @msg['hobo'].each do |hobo_account|
      - hobo_account['devices'].reject { |d| d['file_name'].nil? }.each do |device|
        - locals = { 'login' => hobo_account['login'], 'device' => device }
        = haml :'_streams_records_hobo_device', { :locals => locals }
