-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
:javascript
  var fileInode = "#{@inode}";
  var fileRevision = "#{@revision}";
#content
  %form#side_panel
    %h1 Sample Time Series Demo
    %section
      #legend
    %section
      #renderer_form.toggler
        %input#area{ :type => 'radio', :name => 'renderer', :value => 'area', :checked => true }
        %label{ :for => 'area' } area
        %input#bar{ :type => 'radio', :name => 'renderer', :value => 'bar' }
        %label{ :for => 'bar' } bar
        %input#line{ :type => 'radio', :name => 'renderer', :value => 'line' }
        %label{ :for => 'line' } line
        %input#scatter{ :type => 'radio', :name => 'renderer', :value => 'scatterplot' }
        %label{ :for => 'scatter' } scatter
    %section
      #offset_form
        %label{ :for => 'stack' }
          %input#stack{ :type => 'radio', :name => 'offset', :value => 'zero', :checked => true }
          %span stack
        %label{ :for => 'stream' }
          %input#stream{ :type => 'radio', :name => 'offset', :value => 'wiggle' }
          %span stream
        %label{ :for => 'pct' }
          %input#pct{ :type => 'radio', :name => 'offset', :value => 'expand' }
          %span pct
        %label{ :for => 'value' }
          %input#value{ :type => 'radio', :name => 'offset', :value => 'value' }
          %span value
      #interpolation_form
        %label{ :for => 'cardinal' }
          %input#cardinal{ :type => 'radio', :name => 'interpolation', :value => 'cardinal', :checked => true }
          %span cardinal
        %label{ :for => 'linear' }
          %input#linear{ :type => 'radio', :name => 'interpolation', :value => 'linear' }
          %span linear
        %label{ :for => 'step' }
          %input#step{ :type => 'radio', :name => 'interpolation', :value => 'step-after' }
          %span step
    %section
      %h6 Smoothing
      #smoother
    %section
  #chart_container
    #chart
    #timeline
    #preview
  #loading
    %div
      %span Loading&nbsp;
      %span
        %img{ :src => "images/spinning.svg", :width => '48px', :height => '48px' }
