-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#wf_spinner_area
  #wf_toolbar.wf_table
    %div
      %button#tb_new New
      %button#tb_load(disabled) Load
      %button#tb_save Save
      %button#tb_save_as Save as…
      %button#tb_run Run!
  #wf_main.wf_table{ 'data' => { 'wf_inode_id' => @wf_inode_id, 'wf_revision' => @wf_revision, 'wf_name' => @wf_name } }
    #wf_nodes
      .opset
        .title
          %span.toggle_opset ↕
          import
        .opset_contents
          .line
            .opbox(data-node-type="import_csv" title="Import CSV")
              %img(src='images/wf/import_csv.png')
              %span CSV
          -#  .opbox.disabled(data-node-type="import_netcdf" title="Import netCDF")
          -#    %img(src='images/wf/import_netcdf.png')
          -#    %span netCDF
          -#.line
          -#  .opbox(data-node-type="import_pipe" title="Read stream")
          -#    %img(src='images/wf/import_pipe.png')
          -#    %span stream
          -#  .opbox(data-node-type="import_process" title="Read workflow")
          -#    %img(src='images/wf/import_process.png')
          -#    %span workflow
      .opset
        .title
          %span.toggle_opset ↕
          operators
        .opset_contents
          -#.line
            -#.opbox(data-node-type="operator_db")
              -#%img(src='images/wf/operator_db.png')
              -#%span db query
          .line
            .opbox(data-node-type="operator_projection" title="Projection")
              %img(src='images/wf/operator_projection.png')
              %span projection
            .opbox(data-node-type="operator_filter" title="Filter")
              %img(src='images/wf/operator_filter.png')
              %span filter
          -#.line
          -#  .opbox(data-node-type="operator_aggregate" title="Aggregate")
          -#    %img(src='images/wf/operator_aggregate.png')
          -#    %span aggregate
          -#  .opbox(data-node-type="operator_interpolate" title="Interpolate")
          -#    %img(src='images/wf/operator_interpolate.png')
          -#    %span interpolate
          .line
            .opbox(data-node-type="operator_smooth" title="Smooth")
              %img(src='images/wf/operator_smooth.png')
              %span Smooth
      .opset
        .title
          %span.toggle_opset ↕
          controls
        .opset_contents
          .line
            .opbox(data-node-type="control_copy" title="Copy")
              %img(src='images/wf/control_copy.png')
              %span copy
            .opbox(data-node-type="control_union" title="Union")
              %img(src='images/wf/control_union.png')
              %span union
      .opset
        .title
          %span.toggle_opset ↕
          OptiLiner
        .opset_contents
          .line
            .opbox(data-node-type="operator_optiemission" title="OptiEmission")
              %img(src='images/wf/operator_optiemission.png')
              %span OptiEmission
            .opbox(data-node-type="operator_opticost" title="OptiCost")
              %img(src='images/wf/operator_opticost.png')
              %span OptiCost
          .line
            .opbox(data-node-type="operator_opticontract" title="OptiContract")
              %img(src='images/wf/operator_opticontract.png')
              %span OptiContract
            .opbox(data-node-type="export_optikml" title="OptiLiner to KML")
              %img(src='images/wf/export_optikml.png')
              %span OptiLiner to KML
      .opset
        .title
          %span.toggle_opset ↕
          Provenance
        .opset_contents
          .line
            .opbox(data-node-type="operator_provconcn" title="Concentration")
              %img(src='images/wf/operator_provconcn.png')
              %span Concentration
            .opbox(data-node-type="operator_provdiff" title="Diffusion")
              %img(src='images/wf/operator_provdiff.png')
              %span Diffusion
      .opset
        .title
          %span.toggle_opset ↕
          export
        .opset_contents
          .line
            .opbox(data-node-type="export_csv" title="Export CSV")
              %img(src='images/wf/export_csv.png')
              %span CSV
    #wf_desktop
      %svg#wf_svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="1" height="1")
        %defs
          %filter#selectedPath
            %feGaussianBlur(in="SourceAlpha" stdDeviation="3" result="blur")
            %feFlood(flood-color="#007FFF")
            %feComposite(operator="in" in2="blur")
            %feMerge
              %feMergeNode
              %feMergeNode(in="SourceGraphic")
  #wf_status.wf_table
    status
  #wf_spinner
    %img{ :src => "images/spinning.svg" }
