#stats > * {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    border: green 1px solid;
    border-radius: 4px;
    background-color: white;
}

#stats .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

#stats .contents {
    display: table;
}

#stats .contents > * {
    display: table-row;
}

#stats .contents > * > * {
    display: table-cell;
    padding: 0.1em 0.2em;
}

#stats .contents > :nth-child(odd) {
    background-color: #E5E4D7;
}

#stats .contents > * > :last-child {
    text-align: right;
}

.pending_registration {
    border: 2px green solid;
    border-radius: 1em;
    background-color: white;
    box-shadow: 3px 3px 3px green;
    display: inline-block;
    margin: 1em;
    padding: 1em;
}

.pending_values {
    display: table;
}

.pending_values > div {
    display: table-row;
}

.pending_values > div > div {
    display: table-cell;
    padding: 0.2em;
}

.pending_buttons {
    padding-top: 1em;
}
