#outer > div {
    margin: 1em;
}

.rectangle {
    margin: 1em;
    border: solid 1px green;
    border-radius: 4px;
    padding: 1em;
    background-color: white;
    vertical-align: top;
    display: inline-block;
}


.resp {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.contact {
    margin: 1em;
}
