#frame {
    position: relative;
    top: 0px;
    left: 0px;
}

.explorer_share_dialog {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 256;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px gray;
    font-size: smaller;
}

.esd_title {
    background-color: green;
    color: white;
    text-align: center;
    padding: 0.2em;
    cursor: move;
}

.esp_dir_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.esd_frame > * {
    display: inline-block;
    vertical-align: top;
    padding: 1em;
}

.esd_header {
    text-align: center;
}

.esd_list_invited > *, .esd_list_available > * {
    display: inline-block;
    vertical-align: top;
}

.esd_list_title {
    text-align: center;
}

.esd_list_border {
    padding: 0.5em;
    border: 1px green solid;
    border-radius: 4px;
}

.esd_list {
    overflow-y: scroll;
    max-height: 10em;
    width: 11em;
}

.esd_table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.esd_table > * {
    display: table-row;
}

.esd_table > * > * {
    display: table-cell;
}

.esd_invited_member > *, .esd_invited_group > * {
    padding: 0.2em;
}

.esd_list_to_add {
    text-align: center;
    padding: 1em;
}

.esd_buttons {
    text-align: center;
    padding-bottom: 0.5em;
}

.esd_confirm_remove {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 35em;
    z-index: 512;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px gray;
    font-size: smaller;
}

.esd_confirm_remove .esdc_frame {
    overflow-y: auto;
    max-height: 16.5em;
    padding: 0.5em;
}

.esd_confirm_remove .esdc_frame > * {
    margin: 0.5em;
}

.esd_confirm_remove .esd_confirm_item {
    margin-left: 1em;
}

.esdc_buttons {
    text-align: center;
    padding-bottom: 0.5em;
}

/* External access window ****************************************************/

.explorer_ea_dialog {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 256;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px gray;
    font-size: smaller;
}

.explorer_ea_dialog .notice {
    font-size: smaller;
    font-style: italic;
    padding-top: 0.5em;
}

.eea_title {
    background-color: green;
    color: white;
    text-align: center;
    padding: 0.2em;
    cursor: move;
}

.eea_file_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eea_frame > * {
    vertical-align: top;
    padding: 0.5em;
    margin: 0.5em;
}

.eea_header {
    background-color: #FFCF79;
    margin-bottom: 0.5em;
    padding-left: 1em;
    border: 1px black solid;
    border-radius: 4px;
}

.eea_direct_link a:hover {
    background-color: #c8e3d6;
}

.eea_obfuscated > * {
    vertical-align: middle;
}

.eea_obfuscated_table .table {
    display: table;
    border-collapse: collapse;
}

.eea_obfuscated_table .table > * {
    display: table-row;
}

.eea_obfuscated_table .table > * > * {
    display: table-cell;
    padding: 0.2em 0.5em;
}

.eea_obfuscated_table .table.list > * > *:nth-child(3) {
    text-align: center;
}

.eea_obfuscated_table a {
    font-family: monospace;
}

.eea_obfuscated_table a:hover {
    background-color: #c8e3d6;
}

.eea_obfuscated_table .annotation {
    width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.eea_obfuscated_table .list_container {
    overflow-y: scroll;
    max-height: 10em;
}

.eea_obfuscated_buttons {
    padding-top: 0.5em;
    text-align: center;
}

.eea_create_username .important {
    font-weight: bold;
    color: red;
}

.eea_create_username .register_line {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.eea_create_username .register_line button {
    margin-left: 1em;
    margin-right: 1em;
}

.eea_create_username .register_line .icons {
    position: relative;
    top: 0px;
    left: 0px;
}

.eea_create_username .register_line .icons > * {
    position: absolute;
    top: 0px;
    left: 0px;
}

.spinner.hidden, .forbidden.hidden, .eea_publish_file.hidden {
    display: none;
}

.eea_create_username .ffm {
    font-family: monospace;
    font-weight: bold;
    font-size: larger;
}

.eea_publish_file .publish_line {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.eea_publish_file .publish_line button {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.eea_buttons {
    text-align: center;
    padding: 0.5em;
}

/* Access control window *****************************************************/

#ac_dir_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

#ac_window .background {
    background-image: url("images/stripe.png");
}

#ac_tabs, #ac_list, #ac_write {
    border-width: 0px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

#ac_tabs > *, #ac_write > * {
    border-right: 1px green solid;
    width: 2%;
    display: table-cell;
}

#ac_tabs *:last-child, #ac_write *:last-child {
    border-right: 0px;
}

#ac_tabs > * > button, #ac_write > * > button {
    border: 0px;
    color: black;
    background-color: white;
    padding: 0.2em;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

#ac_list {
    background-color: white;
    padding: 2px;
}

#ac_list > * {
    display: table-row;
}

#ac_list > * > * {
    display: table-cell;
}

#ac_list.disabled_div, #ac_write.disabled_div {
/*     visibility: hidden; */
opacity: 0.5;
}

#ac_list .disabled_name {
    color: gray;
}

#ac_members, #ac_crews {
    display: table-cell;
}

#ac_window .selected_tab {
    background-color: lime;
    font-weight: bold;
}

#ac_buttons > * {
    margin: 0.5em;
}
