.fp_frame {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: smaller;
    box-shadow: 5px 5px 5px gray;
}

.fp_title {
    background-color: green;
    color: white;
    text-align: center;
    padding: 0.2em;
}

.fp_main {
    width: 600px;
}

.fp_nav {
    float: left;
    width: 33%;
}

.fp_roots {
    height: 25%;
    overflow-y: auto;
}

.fp_dirs {
    position: relative;
    overflow-y: auto;
}

.fp_dir {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2em;
    margin: 1px;
    cursor: default;
    border: 1px solid rgba(0,0,0,0);
}

.fp_dir:hover {
    border-color: green;
    background-color: #c8e3d6;
}

.fp_dir.selected {
    border-color: black;
    background-color: green;
    color: white;
}

.fp_horizontal {
    height: 1px;
    background-color: green;
}

.fp_files {
    position: relative;
    margin-left: 33%;
    border-left: 1px solid green;
    overflow-y: auto;
}

.fp_file {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2em;
    margin: 1px;
    cursor: default;
    border: 1px solid rgba(0,0,0,0);
}

.fp_file:hover {
    border-color: green;
    background-color: #c8e3d6;
}

.fp_file.selected {
    border-color: black;
    background-color: green;
    color: white;
}

.fp_clear {
    clear: both;
}

.fp_spinning {
    width: 2em;
    height: 2em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.fp_save_mode {
    border-top: 1px solid green;
    padding: 0.2em 1em;
}

.fp_buttons {
    text-align: right;
    border-top: 1px solid green;
}

.fp_buttons > * {
    margin: 0.2em 1em;
}
