/* Common */

#three_col {
    width: 100%;
    display: table;
}

#col1, #col2, #col3 {
    display: table-cell;
    min-width: 33%;
    padding: 0.2em;
}

.member {
    background-color: white;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border: 2px solid white;
}

.member .action {
    cursor: pointer;
}

.member .action.disabled, .member.filtered .action {
    cursor: default;
}

.member .action.hidden {
    display: none;
}

.member.selected {
    border: 2px solid green;
}

.member.filtered {
    opacity: 0.5;
}

.member.selected.filtered {
    border: 2px solid lightgrey;
}

/* Column 1 */

.desc {
    font-weight: bold;
    color: white;
    background-color: green;
    padding: 0.2em;
}

.crew {
    background-color: white;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border: 1px solid green;
}

.crew.selected .crew_item {
    background-color: #FFCF79;
}

.crew_item {
    padding: 0.1em;
    background-color: #92CD00;
}

.showhide {
    float: right;
    cursor: pointer;
}

#col1 .crew_member_list {
    clear: both;
    display: none;
}

#col1 .crew_member_list.shown {
    display: block;
}

/* Column 2 */

#controls button {
    padding: 0.2em;
    background-color: white;
    border: 1px green solid;
    border-radius: 3px;
    margin: 0.2em;
    cursor: pointer;
}

#controls button:hover {
    background-color: lightgreen;
}

#controls button:disabled {
    background-color: lightgrey;
    cursor: default;
}

#crew_details {
    clear: both;
}

#crew_details > div {
    border: 1px green solid;
    margin-top: 0.5em;
    padding: 0.2em;
}

#crew_name {
    padding: 0.2em;
    background-color: white;
}

#crew_name:disabled {
    background-color: lightgrey;
}

/* Column 3 */

/* Confirmation dialogs ******************************************************/

.crew_confirm {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 256;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px gray;
    font-size: smaller;
    width: 40em;
}

.crew_confirm .cc_title {
    background-color: green;
    color: white;
    text-align: center;
    padding: 0.2em;
    cursor: move;
}

.crew_confirm .cc_frame {
    padding: 0.5em;
}

.crew_confirm .cc_frame > * {
    margin: 0.5em;
}

.crew_confirm .cc_table {
    display: table;
    border-collapse: collapse;
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;
}

.crew_confirm .cc_table > * {
    display: table-row;
    border: 1px solid green;
}

.crew_confirm .cc_table > * > * {
    display: table-cell;
    border: 1px solid green;
    padding: 0.2em 1em;
}

.crew_confirm .cc_buttons {
    margin-top: 1em;
    text-align: center;
}
