#table_jobs {
    display: table;
    background-color: white;
    font-size: smaller;
}

#table_jobs > * {
    display: table-row;
}

#table_jobs > * > * {
    display: table-cell;
    padding: 0.5em 1em;
}

#table_jobs > .header > .span {
    font-weight: bold;
    text-align: center;
}

#table_jobs span.status {
    border-radius: 8px;
    padding: 4px;
}

#table_jobs span.created {
    background-color: blue;
    color: white;
}

#table_jobs span.started {
    background-color: yellow;
    animation-duration: 1s;
    animation-name: fadeoutin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fadeoutin {
    from {
        background-color: yellow;
    }

    50% {
        background-color: yellow;
    }

    to {
        background-color: white;
    }
}

#table_jobs span.cancelled {
    background-color: orange;
}

#table_jobs span.failed {
    background-color: red;
    color: white;
}

#table_jobs span.completed {
    background-color: green;
    color: white;
}

body form.hidden {
    display: none;
}
