/* Minimalist CSS reset */
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}


#frame {
    min-width: 800px;
    width: 100%;
    height: 100%;
    background-color: #c8e3d6;
    display: table;
}

#frame > * {
    display: table-row;
}

#header {
    color: white;
    background-color: green;
}

#header a {
    color: white;
    text-decoration: none;
}

#header a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-animation-duration: 1s;
    -webkit-animation-name: lightup;
    -webkit-animation-iteration-count: 1;
    animation-duration: 1s;
    animation-name: lightup;
    animation-iteration-count: 1;
}

@-webkit-keyframes lightup {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes lightup {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

#header_td {
    display: table-cell;
    position: relative;
}

#header_td_text {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#header_left  {
    position:absolute;
    top: 0px;
    left: 0px;
    border-collapse: collapse;
}

#header_left td > * {
    padding: 0.2em 0.5em;
}

#app_name_td {
    height: 1.5em;
    vertical-align: middle;
}

#app_name {
    margin-top: -0.7em;
    background-color: green;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 4px;
}

#app_name_cn {
    font-size: larger;
    font-weight: 900;
    font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
}

#app_name_en {
    font-family: sans-serif;
}

#header_right  {
    position:absolute;
    top: 0.2em;
    right: 1em;
    border-collapse: collapse;
}

#header_right td > * {
    padding: 0.2em 0.5em;
}

#header .layout_menu {
    position: relative;
}

#header .layout_menu > div {
    display: none;
}

#header .layout_menu:hover > div {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: green;
    padding: 0.2em 0em;
    z-index: 1;
    border-radius: 0 0 4px 4px;
}

#header .layout_menu > div > div {
    padding: 0.2em 0.5em;
}

#user_notifs.senpai {
    color: #FFCF79;
    font-weight: bold;
}

#contents_tr {
    height: 100%;
}

#contents_td {
    display: table-cell;
    height: 100%;
    padding: 1em;
}

.form_border {
    padding: 1em;
    border: 2px green solid;
    border-radius: 2em;
}

.form_border > * {
    margin: 1em;
}

.form_title {
    padding-bottom: 1em;
    font-weight: bold;
    text-align: center;
}

.form_submit {
    background: green;
    border: 1px green solid;
    border-radius: 1em;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.form_submit:hover {
    text-shadow: 1px 1px 2px yellow, 0 0 1em cyan, 0 0 0.2em yellow;
}

.center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: white;
}

.smaller {
    font-size: smaller;
}

#outer_error_msg {
    text-align: center;
}

#outer_error_msg .error_msg {
    margin: 1em;
    border: solid 2px red;
    padding: 0.5em;
    display: inline-block;
}

#outer_error_msg .no_error {
    visibility: hidden;
}

#modal_background {
    z-index: 128;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
    display: none;
}

.clear {
    clear: both;
}

.generic_button_green {
    border: 1px black solid;
    border-radius: 4px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0.2em;
}

.generic_button_green:disabled {
    background-color: darkgrey;
}

.generic_button_green:enabled:hover {
    background-color: #00C000;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: button_green_in;
    -webkit-animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-name: button_green_in;
    animation-iteration-count: 1;
}

.generic_inline_button_green {
    border-width: 0px;
    border-radius: 2px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 0em;
}

.generic_inline_button_green:disabled {
    background-color: darkgrey;
}

.generic_inline_button_green:enabled:hover {
    background-color: #00C000;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: button_green_in;
    -webkit-animation-iteration-count: 1;
    animation-duration: 0.4s;
    animation-name: button_green_in;
    animation-iteration-count: 1;
}

@-webkit-keyframes button_green_in {
  from {
    background-color: green;
  }

  to {
    background-color: #00C000;
  }
}

@keyframes button_green_in {
  from {
    background-color: green;
  }

  to {
    background-color: #00C000;
  }
}
