#outer {
    text-align: center;
}

#login_form {
    position: relative;
    margin: 3em auto;
    background-color: white;
    display: inline-block;
    border: solid 1px green;
    border-radius: 4px;
    padding: 1em;
    vertical-align: top;
}

#login_form button.generic_button_green {
    margin-bottom: 1.5em;
}

.form_table {
    margin: 1em auto;
    display: table;
}

.form_row {
    display: table-row;
}

.form_row > * {
    margin: 1em;
    display: table-cell;
}

#svg_logo {
    position: absolute;
}
