#outer_list {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    overflow-y: auto;
    height: 100%;
    border-left: 1px green solid;
    border-right: 1px green solid;
}

#inner_list {
}

#inner_list .item {
    position: relative;
    border: 1px green solid;
    border-radius: 4px;
    background-color: white;
    margin: 1em;
    padding: 1em;
}

#inner_list .item > * + * {
    margin-top: 0.5em;
}

#inner_list .item > .unread + * {
    margin-top: 0em;
}

#inner_list .item .unread {
    position: absolute;
    top: -7px;
    left: -15px;
}

#inner_list .item .unread img {
    display: block;
    padding: 0em;
    margin: 0em;
}

#inner_list .item.share .member {
    background-color: #FFCF79;
    padding: 0.1em;
    border-radius: 4px;
}

#inner_list .item.share .directory {
    background-color: #FFCF79;
    padding: 0.1em;
    border-radius: 4px;
}
