#outer {
    margin: 1em;
}

.left {
    float: left;
    width: 49%;
}

.right {
    float: right;
    width: 49%;
}

#tos {
    text-align: justify;
    padding: 1em;
    border: 2px green groove;
    background-color: white;
    margin-right: 1em;
    height: 20em;
    overflow-y: auto;
}

#tos .h1 {
    font-size: large;
}

#tos .h2 {
}

#tos .h3 {
}

#i_agree {
    margin-top: 2em;
}

#form {
    margin-left: 1em;
}

#tos p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.nbsp {
    white-space: nowrap;
}

.hint {
    margin-top: 0.2em;
    font-size: smaller;
    font-style: italic;
}

.mandatory {
    color: green;
}
