
.module {
    margin: 1em;
    border: solid 1px green;
    border-radius: 4px;
    padding: 1em;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}

.module > * {
    display: default;
}

.module .title {
    text-align: center;
}

.module .title span {
    padding: 0.2em 0.5em;
    border: solid 2px green;
    border-radius: 4px;
}

.module .fields {
    margin: 1em 0em;
    display: table;
    border-spacing: 0.5em;
}

.module .fields > * {
    display: table-row;
}

.module .fields > * > * {
    display: table-cell;
}

.module .fields input[type="submit"] {
    display: none;
}

.module .fields input[disabled] {
    color: black;
    border-color: transparent;
    background-color: transparent;
}

.module .fields .buttons {
    position: relative;
}

.module .fields .buttons > * {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
    white-space: nowrap;
}

.module .fields .buttons .ok_cancel {
    padding: 4px;
    top: -4px;
    left: -4px
}

.module .fields button {
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    font-size: normal;
}

.module .fields button.edit {
    border-color: #c8e3d6;
    background-color: #c8e3d6;
}

.module .fields button.edit:hover {
    box-shadow: #c8e3d6 0px 0px 4px;
}

.module .fields button.ok {
    border-color: green;
    border-radius: 0px;
    background-color: green;
    color: white;
    font-weight: bold;
}

.module .fields button.ok:hover {
    box-shadow: green 0px 0px 4px;
}

.module .fields button.cancel {
    border-color: red;
    border-radius: 0px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.module .fields button.cancel:hover {
    box-shadow: red 0px 0px 4px;
}

.module .fields .hidden {
    visibility: hidden;
}

.module .submit {
    text-align: center;
    margin: 1em 0em;
}

#email {
    display: none;
}

.hint {
    font-size: smaller;
    font-style: italic;
}
