/*****************************************************************************
 *  Accounts
 */

#accounts > * > .title {
    text-align: center;
    font-weight: bold;
}

.hobo_account {
    display: inline-block;
    border: 1px green solid;
    border-radius: 4px;
    background-color: white;
    padding: 1em;
    position: relative;
    margin: 1em;
    vertical-align: top;
}

.info {
    display: table;
    border-collapse: separate;
    border-spacing: 0.5em;
}

.hobo_account button.delete_account {
    position: absolute;
    top: 0.2em;
    right: 0.2em;

    padding: 0em 0.1em;
    background-color: white;
    border: 1px green solid;
    border-radius: 3px;
    margin: 0.2em;
    cursor: pointer;
}

.hobo_account button.delete_account:hover {
    background-color: lightgreen;
}

.line {
    display: table-row;
}

.line > * {
    display: table-cell;
}

.device_list {
    border: 1px green solid;
    border-radius: 4px;
}

.device_list_container {
    margin: 0.2em;
    margin-right: 0.6em;
    min-height: 1.4em;
}

.device {
    width: 100%;
    border-radius: 4px;
    background-color: #c8e3d6;
    padding: 0.2em;
    font-size: smaller;
}

.device + .device {
    margin-top: 0.2em;
}

.device > .delete_device {
    float: right;
    cursor: pointer;
}

.add_device {
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

.hobo_account > .buttons {
    text-align: right;
}

.hobo_account > .buttons > button {
    padding: 0.2em;
    background-color: white;
    border: 1px green solid;
    border-radius: 3px;
    margin: 0.2em;
    cursor: pointer;
}

.hobo_account > .buttons > button:hover {
    background-color: lightgreen;
}

.hobo_account > .buttons > button:disabled {
    background-color: lightgrey;
    cursor: default;
}

/*****************************************************************************
 *  Records
 */

.ar_field {
    margin: 0.1em;
    padding: 0.3em;
    border: solid 1px green;
    border-radius: 4px;
    display: inline;
}

.ar_field + .ar_field, #ar_hobo_add {
    margin-left: 1em;
}

#records {
    margin-top: 1em;
}

.record_title {
    margin: 1em;
    font-size: large;
}

#hobolink_records {
    display: table;
    border: solid 1px green;
    border-radius: 4px;
}

#hobolink_records > * {
    display: table-row;
}

#hobolink_records > * > * {
    display: table-cell;
    border-top: solid 1px green;
    padding: 0.5em;
}

#hobolink_records > *:first-child > * {
    border-top-width: 0px;
}
