#loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    border-radius: 4px;
}

#loading > * {
    padding: 1em;
    text-align: center;
    font-size: 400%;
}

#content {
    background-color: white;
    margin: 1em;
    border: 1px green solid;
    border-radius: 4px;
    padding: 1em;
    position: relative;
}
