.wf_table {
    border: 1px solid #aaaaaa;
    width: 100%;
}

#wf_toolbar {
    border-bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    padding: 4px 0px;
    background: url('jquery/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png') repeat-x scroll 50% 50% #CCC;
}

#wf_toolbar > * {
    margin: 0px 4px;
}

#wf_status {
    border-top: 0px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    padding: 4px 0px;
    background: url('jquery/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png') repeat-x scroll 50% 50% #CCC;
}

#wf_main {
    overflow: hidden;
}

#wf_nodes {
    float: left;
    width: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #dde4eb;
    font-size: small;
    padding: 0.5em;
}

#wf_nodes .opset {
    border: solid 1px green;
    margin-top: 0.7em;
    margin-bottom: 1.2em;
}

#wf_nodes .opset:last-child {
    margin-bottom: 0.5em;
}

#wf_nodes .opset .title {
    background-color: green;
    color: white;
    font-weight: bold;
    display: inline;
    position: relative;
    top: -0.7em;
    left: 0.7em;
    padding: 0.2em;
}

#wf_nodes .opset .toggle_opset {
    cursor: pointer;
}

#wf_nodes .opset .line {
    white-space: nowrap;
}

#wf_nodes .opset .line .opbox {
    display: inline-block;
    margin: 0.5em;
    cursor: pointer;
    z-index: 10;
}

#wf_nodes .opset .line .opbox:hover {
    background-color: #c8e3d6;
}

#wf_nodes .opset .line .opbox > * {
    display: block;
    text-align: center;
}

#wf_nodes .opset .line .opbox span {
    width: 66px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#wf_desktop {
    background-color: white;
    overflow: scroll;
    position: relative;
    top: 0px;
    left: 0px;
}

#wf_desktop.wf-state-hover {
    background-color: #dff2eb;
}

#wf_svg {
    position: absolute;
    top: 0px;
    left: 0px;
}

#wf_spinner_area {
    position: relative;
}

#wf_spinner {
    position: absolute;
    z-index: 25;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
}

#wf_spinner > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}

/* Every node ****************************************************************/

.wf_node {
    position: absolute;
    z-index: 10;
    font-size: small;
}

.wf_node .core {
    border: solid 1px green;
    background-color: white;
    white-space: nowrap;
}

.wf_node .title_bar {
    background-color: #E5E4D7;
    padding: 0.2em;
    cursor: move;
}

.wf_node .title_bar_input {
    background-color: #92CD00;

}

.wf_node .title_bar_output {
    background-color: #FFCF79;
}

.wf_node .title_bar > * {
    display: table-row;
}

.wf_node .title_bar > * > * {
    display: table-cell;
    vertical-align: middle;
}

.wf_node .title_bar_void {
    min-width: 100%;
}

.wf_node .title_bar_id {
    font-size: smaller;
}

.wf_node .contents {
    padding: 0.2em;
}

.wf_node .hooks {
    display: table;
    table-layout: fixed;
}

.wf_node .hidden_hook {
    display: none;
}

.wf_node .hook {
    display: table-cell;
    text-align: center;
}

.wf_node .hook img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.wf_node.selected {
    z-index: 15;
}

.wf_node.selected .core {
    box-shadow: 0px 0px 3px 3px rgba(0, 127, 0, 0.5);
}

/* Specific nodes ************************************************************/

.wf_node .input_text_disabled {
    border-width: 0px;
    background-color: transparent;
    color: black;
}

/* CSV Import ****************************************************************/

.wf_node .import_csv .extra.hidden {
    display: none;
}

.wf_node .import_csv .list_container .table {
    display: table;
}

.wf_node .import_csv .list_container .table > * {
    display: table-row;
}

.wf_node .import_csv .list_container .table > * > * {
    display: table-cell;
    padding: 0.2em;
}

.wf_node .import_csv .scrollarea {
    overflow-y: scroll;
    max-height: 300px;
}

.wf_node .import_csv .list > .col:nth-child(odd) {
    background-color: #c8e3d6;
}

.wf_node .import_csv .list .original.greyed {
    color: gray;
}

/* Operator DB ***************************************************************/

.wf_node .operator_db {
    display: table;
}

.wf_node .operator_db > * {
    display: table-row;
}

.wf_node .operator_db > * > * {
    display: table-cell;
}

.wf_node .operator_db > div > span {
    vertical-align: top;
}

/* Projection ****************************************************************/

.wf_node .operator_projection .columns {
    max-height: 20em;
    overflow-y: scroll;
    padding-right: 0.2em;
}

.wf_node .operator_projection .column {
    cursor: move;
}

.wf_node .operator_projection .column:hover {
    background-color: #c8e3d6;
}

/* Others ********************************************************************/

.wf_node .operator_filter.hidden {
    display: none;
}

.wf_node .operator_optiliner .sources .highlight {
    background-color: #c8e3d6;
}

.wf_node .operator_provconcn .sources .highlight {
    background-color: #c8e3d6;
}

/* SVG ***********************************************************************/

path.connector {
    fill: transparent;
    stroke: #3875d7;
    stroke-width: 4px;
    shape-rendering: geometricPrecision;
}

path.connector.selected {
    filter: url("/workflow#selectedPath");
}
