-#
-# Copyright (C) 2016  Thomas Kister, Fajrian Yunus, Stéphane Bressan
-#
-# This program is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.
-#
#outer
  #stats
    .members
      .title Members
      .contents
        .row
          %span Total:
          %span &nbsp;
          %span=@stats[:members][:total]
        .row
          %span Active:
          %span &nbsp;
          %span=@stats[:members][:active]
        .row
          %span Pending:
          %span &nbsp;
          %span=@stats[:members][:pending]
    .inodes
      .title Inodes
      .contents
        .row
          %span # of directories:
          %span &nbsp;
          %span=space_large(@stats[:inodes][:directories])
        .row
          %span # of inodes:
          %span &nbsp;
          %span=space_large(@stats[:inodes][:inodes])
        .row
          %span # of revisions:
          %span &nbsp;
          %span=space_large(@stats[:inodes][:revisions])
        .row
          %span Total size (bytes):
          %span &nbsp;
          %span=space_large(@stats[:inodes][:total_size])
        .row
          %span Total size (readable):
          %span &nbsp;
          %span=human_large(@stats[:inodes][:total_size])
    .jobs
      .title Jobs
      .contents
        .row
          %span Total:
          %span &nbsp;
          %span=@stats[:jobs][:total]
        .row
          %span Created:
          %span &nbsp;
          %span=@stats[:jobs][:created]
        .row
          %span Started:
          %span &nbsp;
          %span=@stats[:jobs][:started]
        .row
          %span Cancelled:
          %span &nbsp;
          %span=@stats[:jobs][:cancelled]
        .row
          %span Failed:
          %span &nbsp;
          %span=@stats[:jobs][:failed]
        .row
          %span Completed:
          %span &nbsp;
          %span=@stats[:jobs][:completed]
  #pendings
    %h1.center Pending registrations
    - if @pendings.empty?
      %div None.
    - else
      .list
        - @pendings.each do |p|
          .pending_registration(data-id="#{p['id']}")
            .pending_values
              - %w(id name email).each do |f|
                %div
                  %div&= "#{f}:"
                  %div&= p[f]
            .pending_buttons.center
              %button.validate Validate
              %button.reject Reject
